@use "../../../src/styles/variables.scss" as *;

.Contribute {
  background-color: $color-background;
  border: 1px solid $color-text-black;
  font-family: $font-base;
  width: 662px;
  height: 236px;
  border-radius: 12px;
  padding: $spacing-list;
  color: $color-text-white;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-size: $font-size-title;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: $font-size-subtitle;
    color: $color-subtitle;
    margin: 0 0 8px 0;
  }

  label {
    width: 598px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: $color-text-white;
    margin-bottom: 4px;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid $color-text-white;
    background-color: $color-background;
    color: $color-text-white;
    font-size: $font-size-base;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 8px; /* Aqui está o espaçamento acima do input */

    // Remove setinhas no Chrome, Safari, Edge
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
    }
  }

  button {
    background-color: $color-primary;
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    height: 45px;
    font-weight: 700;
    color: $color-text-black;
    cursor: pointer;
  }
}
