@use "../../styles/variables.scss" as *;

.Contribute {
  background-color: #121212;
  font-family: Space Grotesk;
  width: 662px;
  height: min-content;
  border-radius: 12px;
  padding: 20px 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 14px;
    color: #ababab;
    margin: 0 0 8px 0;
  }

  label {
    width: 598px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 4px;
  }

  input[type="text"],
  input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #222;
    color: #eee;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 8px;
    /* Aqui está o espaçamento acima do input */

    // Remove setinhas no Chrome, Safari, Edge
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
    }
  }

  button {
    background-color: #fdc32f;
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    height: 45px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
  }


  .mintButton {
    background-color: $success !important;
    color: white;
  }

  .mintButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }


  .status {
    margin-top: 12px;
    padding: 12px;
    border-radius: 6px;
    background-color: #222;
    border: 1px solid #333;

    p {
      margin: 4px 0;
      font-size: 14px;
      font-weight: 500;
    }

    .success {
      color: #4CAF50;
      font-weight: 600;
    }

    .error {
      color: #f44336;
      font-weight: 600;
    }
  }
}