.Navbar {
  background-color: #111;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e8eb;

  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  p {
    cursor: pointer;
    font-weight: 500;
  }

  .connect {
    background-color: #fdc32f;
    padding: 8px 16px;
    border-radius: 6px;
    color: black;
    font-weight: 600;
  }

  .logoImage {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}
