@use "../../../src/styles/variables.scss" as *;

.ProjectDetails {
  width: 662px;
  height: 208px;
  padding: $spacing-list;
  padding-left: $spacing-list;
  padding-right: $spacing-list;
  border-radius: 12px;
  gap: $spacing-cards;
  background-color: $color-background;
  border: 1px solid $color-text-black;
  color: $color-text-white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    width: 480px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      font-size: 16px;
      font-weight: 700;
      margin: 1px;
    }

    .subtitle {
      font-size: $font-size-subtitle;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0px;
      color: $color-subtitle;
      margin: 0;
    }
  }

  .text {
    p {
      color: $color-text-white;
      font-weight: 400;
      font-size: $font-size-base;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: justify;
      width: 598px;
      height: 100px;
    }
  }
}
